* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #131019;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.app__link {
    width: 45px;
    height: auto;
    margin-bottom: 10px;
}

.app__link img {
    width: 100%;
    height: 100%;
}

.app__title {
    color: #fff;
    font-size: 36px;
    margin: 24px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.content__item {
    width: 100%;
    margin-top: 5px;
}

.content__item__name {
    text-align: center;
    color: antiquewhite;
    margin-bottom: 5px;
}

.content__item__wrap {
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 45px;
    width: auto;
}

.content__choose-file {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.content__choose-file input {
    width: 100%;
}

.content__choose-file .input__text {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 100%;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
}

.content__item__show,
.content__item__show__text {
    height: 45px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    margin-top: 5px;
    width: 100%;
    display: none;
    position: relative;
}

.content__item__show--input {
    display: block;
}

.content__item__show a {
    text-decoration: none;
    color: navy;
}

.content__item__show a:hover {
    color: red;
}

.content__item__show--input input {
    border: none;
    outline: none;
    padding: 10px 5px;
    margin: 5px;
    border-radius: 10px;
    font-size: 14px;
    width: 80%;
    text-align: center;
}

.glow-on-hover {
    height: 100%;
    min-width: 50px;
    padding: 12px 16px;
    border: 2px solid #00ffd5;
    outline: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    z-index: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #131019;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.footer {
    margin-top: 50px;
}

.copyright {
    color: #878593;
}

.copyright a {
    text-decoration: none;
    color: blueviolet;
}

#loading {
    position: absolute;
    background-color: rgba(17, 17, 17, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#loading i {
    font-size: 64px;
    color: #fff;
    animation: rotate 2s infinite linear;
    display: block;
}

#cancel{
    color: #fff;
    padding: 10px 15px;
    margin-top: 24px;
    background-color: #7a00ff;
    cursor: pointer;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.notifications{
    position: absolute;
    top: 85px;
    right: 0;
    width: 85px;
    height: 40px;
    background-color: #f6fff5;
    border-radius: 5px 0 0 5px;
    color: green;
    text-align: center;
    line-height: 40px;
    border-left: 5px solid green;
    animation: done 1s;
    display: none;
}

@keyframes done{
    from{
        right: -85px;
        opacity: 0;
    }

    to{
        right: 0;
        opacity: 1;
    }
}
