<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Driver API</title>
  <link rel="shortcut icon" href="public/img/api.png" type="image/x-icon">
  <link rel="stylesheet" href="public/css/app.css">
</head>

<body>
  <div class="app">
    <h class="app__title">Google Driver API</h>
    <div class="content">
      <div class="content__item">
        <h3 class="content__item__name">Upload file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div title="ID" class="content__item__show">1Yg692FyytyQuS12c4LrvsQaijRVkEY63</div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Delete file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="delete" placeholder="Delete ID">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div title="ID" class="content__item__show">1Yg692FyytyQuS12c4LrvsQaijRVkEY63</div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Public file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="delete" placeholder="Public ID">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div class="content__item__show">
          <a target="_blank" title="download" href="/">Download</a>
          <a target="_blank" title="view" href="/">View</a>
        </div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Upload file and public</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div title="ID" class="content__item__show">
          <a target="_blank" title="download" href="/">Download</a>
          <a target="_blank" title="view" href="/">View</a>
        </div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Create folder</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="delete" placeholder="Folder name">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div title="ID" class="content__item__show">1Yg692FyytyQuS12c4LrvsQaijRVkEY63</div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Upload file in Folder</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div title="ID" class="content__item__show content__item__show--input">
          <input class="input__text" type="text" name="text" id="delete" placeholder="FolderID you want to upload file">
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="public/js/main.js"></script>
</body>

</html>