<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Driver API</title>
  <link rel="shortcut icon" href="public/img/api.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="public/css/app.css">
</head>

<body>
  <div class="app">
    <h class="app__title">Google Driver API</h>
    <div class="app__link">
      <a title="Source code" target="_blank" href="https://github.com/nc-minh/google-drive-api"><img src="public/img/github.png" alt=""></a>
    </div>
    
    <div class="content">
      <div class="content__item">
        <h3 class="content__item__name">Upload file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadFile()">Action</button>
        </div>
        <div id="upload__show" title="Click to copy" class="content__item__show" onclick="copyText(this)">ID</div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Delete file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="delete" placeholder="Delete ID">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="deleteFile()">Action</button>
        </div>
        <div id="delete__show" title="Click to copy" class="content__item__show" onclick="copyText(this)"></div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Public file</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="public" placeholder="Public ID">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="publicFile()">Action</button>
        </div>
        <div id="public__show" class="content__item__show">
          <a id="link__download" target="_blank" title="download" href="/">Download</a>
          <a id="link__view" target="_blank" title="view" href="/">View</a>
        </div>
        <div id="public__show__text" title="Click to copy" class="content__item__show__text" onclick="copyText(this)"></div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Upload file and public</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file_upload_public">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadAndPublic()">Action</button>
        </div>
        <div id="upload_public__show" class="content__item__show">
          <a id="up_link__download" target="_blank" title="download" href="/">Download</a>
          <a id="up_link__view" target="_blank" title="view" href="/">View</a>
        </div>
        <div id="upload__public__show__text" title="Click to copy" class="content__item__show__text" onclick="copyText(this)"></div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Create folder</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input class="input__text" type="text" name="text" id="filename_create_folder" placeholder="Folder name - defaults(New Folder)">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="createFolder()">Action</button>
        </div>
        <div id="create_folder" title="Click to copy" class="content__item__show" onclick="copyText(this)"></div>
      </div>

      <div class="content__item">
        <h3 class="content__item__name">Upload file in Folder</h3>
        <div class="content__item__wrap">
          <div class="content__choose-file">
            <input type="file" name="file" id="file_upload_in_folder">
          </div>
          <button class="glow-on-hover" id="btn_upload" onclick="uploadInFolder()">Action</button>
        </div>
        <div title="ID" class="content__item__show content__item__show--input">
          <input class="input__text" type="text" name="text" id="id_upload_in_folder" placeholder="FolderID you want to upload file">
        </div>
        <div id="upload_in_folder" title="Click to copy" class="content__item__show" onclick="copyText(this)"></div>
      </div>
    </div>

    <div id="loading">
      <i class="fas fa-spinner"></i>
      <span id="cancel" onclick="RM()">Cancel</span>
    </div>

    <div class="notifications">Done</div>

    <footer class="footer">
      <p title="copyright" class="copyright">Copyright &copy; 2021 <a target="_blank" href="https://github.com/nc-minh/google-drive-api">Mars</a></p>
    </footer>
  </div>
  </div>

  <script src="public/js/main.js"></script>
</body>

</html>